*{font-family: Saira, sans-serif;}
body{
  counter-reset: section;
}
.carousel-item h5{
  font-size: 3rem;
  text-transform: uppercase;
}
.b-last-word {
font-size: 7rem;
line-height: 0.8;
}
.verifyMsg{
  display: none;
}
.comingsoonMsg{
  display: none;
}
select.form-control[size] {
  height: 40px;
}
.btn-primary{
  background-color: #2ab334;
  border: 1px solid #23930f;
  color: #fff;
}
.btn-primary:hover{
  background-color: #23930f;
}

.card-link{color:#2AB334 !important;}
.card-link:hover{color:#073B3A !important;}
.btn.btn-primary{
  background: #2ab334;
  border-color: #23930f;
}
.btn.btn-primary:hover, .btn.btn-primary:focus{
  background-color: #1e6d10;
}
.menu-sdw
{
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;

}

.menu {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  _webkit-box-shadow:inset 0 0 2000px rgba(255, 255, 255, .5);
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .menu {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    _webkit-box-shadow:inset 0 0 2000px rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
  }
}
.menu:before{
  content: "";
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  z-index: -1;
}
.navbar{padding: 0;}
.navbar-light .navbar-toggler{
  border-color: transparent;
}
.navbar-toggler-icon{
  cursor: pointer;
}
input.form-control,input.form-control:focus {
  /* border:none; */
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  /* -moz-transition: none;
  -webkit-transition: none; */
}
#refine2 .dropdown-toggle:active {
  background-color:transparent;
  border:0;
}
#refine2 .dropdown-toggle:focus {
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  background-color:transparent;
}

#refine2 .dropdown-toggle{
  background-color: transparent !important;
}
li.dropdown.open {
  background-color: transparent;
}
.custom-file-control{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
}
.custom-file-control:hover{
  background-color: #dedede;
}
.table td{
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 2px #ddd;
  -moz-box-shadow: 0 3px 2px #ddd;
  box-shadow: 0 3px 2px #ddd;
}
.img-icon {
  max-width: 35px;
}
#navbarDropdownMenuLink {
  padding: 5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .7rem;
  padding-left: .7rem;
}
.header-section.abtCover{
  background-image: url('../images/abt_img.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.Partners-Section{
  margin: 50px 0;
}

.carousel-cell {
  width: 20%;
  height: 160px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
  border: solid 1px #bababa;
}

#cell1{
  background-image: url('../images/partners/zenithbank_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell2{
  background-image: url('../images/partners/UBA-logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell3{
  background-image: url('../images/partners/sterling_bank_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell4{
  background-image: url('../images/partners/polaris_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell5{
  background-image: url('../images/partners/naic_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell6{
  background-image: url('../images/partners/paystack_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cell7{
  background-image: url('../images/partners/RIMA_logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-cell.is-selected {
  background-color: rgba(255,255,255, .8) !important;
}
button.flickity-button.flickity-prev-next-button.previous{
  display: none;
}
button.flickity-button.flickity-prev-next-button.next{
  display: none;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*content: counter(carousel-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-page-dots{
  display: none !important;
}
.d-none{
  display: none !important;
}
.d-block{
  display: block;
}

/* -----------FAQS ANSWERS--------*/
.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "e072"; /* "play" icon */
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}
/* .ans {
padding: 5px;
background: rgb(219, 219, 219);
color: #606060;
float: left;
margin-right: 10px;
}
.p-faqs{
display:none;
} */

.div_content.grid{
  max-width: 1200px;
  width: 100%;
}
.terms-section{
  width: 900px;
  padding: 40px;
  margin-bottom: 5%;
  box-shadow: 0 0px 10px rgba(119, 119, 119, 0.38);
  -webkit-box-shadow: 0 0px 10px rgba(119, 119, 119, 0.38);
  -moz-box-shadow: 0 0px 10px rgba(119, 119, 119, 0.38);
  z-index: 1020;
  text-transform: capitalize !important;
}
.abt-terms{
  text-align: left !important;
  display: block !important;

}
.terms-div{
  padding: 10px 0;
  text-align: justify;
}
.terms-h1{
  text-align: left !important;
}
.terms-div a{
  text-decoration: none;
  color: hsla(130.5194805194805, 75.49%, 40.00%, 1.00);
  cursor: pointer;
}
.terms-div ul{
  list-style: circle;
}
.login-section, .sign-section{
  height: auto !important;
  background: rgb(240, 240, 240);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}
.w-50{
  max-width: 300px !important;
}
.carousel-caption{
  right: 0%;
  bottom: 20%;
  left:0%;
  overflow: hidden;
  z-index: 10;
  color: #181519;
  text-align: left;
}
.display-4 {
  font-size: 2.5rem;
}

/* Steppers style */

.wrapper-progressBar {
  width: 100%
}

.progressBar {
}

.progressBar li {
  list-style-type: none;
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
}

.progressBar li:before {
  counter-increment: section;
  content: " " counter(section) " ";
  line-height: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  background-color: white
}

.progressBar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressBar li:first-child:after {
  content: none;
}

.progressBar li.active {
  color: #fff;

}

.progressBar li.active:before {
  border-color: #2ab334;
  background-color: #23930f
}

.progressBar li.active:after {
  background-color: #23930f;
}
.close-callback{
  border: 1px solid rosybrown !important;
  background-color: #f7e6e7 !important;
}

.flyover {
  margin-top:-500px;
  float: right!important;
  right: 5%;
  overflow: hidden;
  position: fixed;
  /* width: 50%; */
  opacity: 0.9;
  z-index: 1050;
  transition: all 1s ease;
}

.flyover.in {
  margin-top: 20px;

}
.product{
  cursor: pointer;
  transition: all 500ms ease;
}
.product:hover,.product:focus{
  box-shadow: 0 0 .5rem .2rem rgba(130,138,145,.2);
  transform: scale(1.02);
}
#footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}
#profile-image1 {
  max-width: 139px;
  width: 140px;
}

/* Dashboard Cards  */
a.after-loop-item {
  color: #fff;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: .15s box-shadow ease,.15s transform ease;
  -moz-transition: .15s box-shadow ease,.15s transform ease;
}
a.after-loop-item .card-body p {
color: rgba(255,255,255,.7);
font-weight: 200;
}
.piggy-themes {
  background-color: #dd3d31;
}
.saap-themes {
  background-color: #2092ed;
}
.fixed-themes {
  background-color: #28a745;
}
/* .land-themes {
  background-color: #33d9db;
} */
.cooperators-themes {
  background-color: #9937d7;
}
.comingsoon-themes {
  background-color: #90a1a7;
}
/* .diaspora-themes {
  background-color: #e6b728;
} */
.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
a.after-loop-item:hover .card-body i {
  left: 1.5rem;
  font-size: 3rem;
}
a.after-loop-item .card-body i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  left: 1rem;
  color: rgba(255,255,255,.2);
  transition: .15s all ease;
}
a.after-loop-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
a.after-loop-item:hover {
  text-decoration: none;
}

/* plan dashboard style */
.piggy-themes.plan-color{
  width: 100%;
  height: 80px;
  border-radius: .2rem;
}
 .card .plan-color i{
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  font-size: 4rem;
  right: 1rem;
  color: rgba(255,255,255,.2);
  transition: .15s all ease;
}

/*ADMIN CUSTOM STYLE*/
p.ellipsis {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 991px){
  .nav-menu {
    justify-content: space-between;
    flex-wrap: nowrap;
    flex: 0 auto;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    _webkit-box-shadow:inset 0 0 2000px rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
    background: transparent !important;
  }
}
